*,*:before,*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	background:black;
	color:white;
}
video,button{
	width:100%;
}
video{
	/*padding-top: 100%;*/
}
#history a{
	display:block;
	width:100%;
	border:solid 1px white;
	text-align:center;
	padding:10px;
	box-sizing:border-box;
}
#log div{
	display:block;
	width:100%;
	border:solid 1px white;
	text-align:center;
	padding:10px;
	box-sizing:border-box
}
#video-container, #video-controls, #seek-bar{
	width:100%;
}
